<h1>Eat-Da-Burger</h1>

<form id="add-new-burger-form">
  Add a new burger to the menu<br/>
  <lable for="burger-name">Name</lable>
  <input type="text" id="form-burger-name" name="burger-name"></input><br/>
  <button type="submit" id="burger-submit">Add</button>
</form>
<br/>

<div>Undevoured</div>
<div id="undevoured-parent">
  {{#each burgers}}
    {{#unless devoured}}
  	<div>{{this.id}}: {{this.name}}</div> <button data-id="{{this.id}}">Eat it!</button>
    {{/unless}}
  {{/each}}
</div>

<hr/>

<div>Already devoured</div>
<div id="devoured-parent">
  {{#each burgers}}
    {{#if devoured}}
    <div style="text-decoration: line-through;">{{this.id}}: {{this.name}}</div>
    <button data-id="{{this.id}}">uneat it!</button>
    {{/if}}
  {{/each}}
</div>
