<h1>Eat-Da-Burger</h1>

<button id="abutton">Click Me</button>

<div>Uneaten</div>
<div id="uneaten">
  {{#each allfood}}
    {{#unless eaten}}
  	<div>{{this.id}}: {{this.name}}</div> <button id="{{this.id}}" data-id="{{this.id}}">Eat it!</button>
    {{/unless}}
  {{/each}}
</div>

<hr/><hr/><hr/>

<div>Already Eaten</div>
<div id="eaten">
  {{#each allfood}}
    {{#if eaten}}
  	<del>{{this.id}}: {{this.name}}</del>
    {{/if}}
  {{/each}}
</div>
