<h1>Eat-Da-Burger</h1>

<button id="abutton">Click Me</button>

<div>Uneaten</div>
<div id="uneaten-parent">
  {{#each allfood}}
    {{#unless eaten}}
  	<div>{{this.id}}: {{this.food}}</div> <button data-id="{{this.id}}">Eat it!</button>
    {{/unless}}
  {{/each}}
</div>

<hr/><hr/><hr/>

<div>Already Eaten</div>
<div id="eaten-parent">
  {{#each allfood}}
    {{#if eaten}}
    <button data-id="{{this.id}}" style="text-decoration:line-through;">
  	{{this.id}}: {{this.food}}
    </button>
    {{/if}}
  {{/each}}
</div>
